GOOGLE_CLIENT_ID=your_google_client_id
GOOGLE_CLIENT_SECRET=your_google_client_secret
BASE_URL=http://localhost:3000
DATABASE_URL=postgresql://user:password@localhost:5432/database_name
GROQ_API_KEY1=your_groq_api_key_1
GROQ_API_KEY2=your_groq_api_key_2
CLOUDINARY_CLOUD_NAME=cloud_name
CLOUDINARY_API_KEY=cloud_api_key
CLOUDINARY_API_SECRET=secret_key
